<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Business</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="" />
  </head>
  <body>
    <h1 class="heading">TikTok’s extraordinary rise signals a more multipolar internet</h1>
    <p class="content">
	For anyone with shareable passions such as dance crazes, sea shanties, knitting patterns or Excel spreadsheets, TikTok is the place to be. The short-form, Chinese-owned video app has emerged as an accessible and playful global platform for 1bn users to indulge their obsessions, find an audience of like-minded followers and sometimes make money, too.
To those of a more conspiratorial mindset, however, the entertainment platform is an electronic Manchurian Candidate, creating the opportunity for the Chinese Communist party to manipulate public opinion, subvert democracies and peer into teenagers’ bedrooms. In June 2020, India banned TikTok following a border clash with China, cutting off 200mn local users from the service. The following month, then US president Donald Trump also threatened to ban TikTok over national security concerns — but lost the election before he could enforce the plan. This month, the UK parliament closed down its own TikTok account fearing data leakage. “The prospect of Xi Jinping’s government having access to personal data on our children’s phones ought to be a cause for major concern,” MPs warned.
While rows rage about whether TikTok is either too trivial or too threatening, there is no doubt that it has become an extraordinary cultural and business phenomenon in more than 150 countries. The latest report from Pew Research Center found that TikTok had rocketed in popularity among American teenagers. Some 67 per cent of those surveyed said they used TikTok compared with just 32 per cent for the once-dominant Facebook. “TikTok isn’t just in the zeitgeist. It is the zeitgeist,” wrote Jessica Lessin, founder of The Information tech site.
In becoming the coolest app for younger users, TikTok has left the West Coast’s finest and fastest in the dust. Before the platform emerged, Twitter had failed to capitalise on Vine, its own short-form videos. Facebook, Instagram and Snap have also stumbled in staking claims to the digital territory that TikTok has now taken. According to Cloudflare’s global traffic report, TikTok.com last year overtook Google.com to become the most popular internet domain. In Silicon Valley speak, TikTok has out-blitzscaled the blitzscalers.
There are perhaps two reasons for this huge popularity. First, the platform is extremely easy to use and highly addictive to view. With its tools and filters, TikTok’s app enables users to make short videos, ranging from 15 seconds to 10 minutes, and helps them monetise their content by steering advertising their way. Even a former FT business contractor, who looks uncannily like the actor Benedict Cumberbatch, has acquired 4.5mn TikTok followers by playing Dr Strange (@cumbermatch). 
Second, TikTok promotes videos through a content graph rather than a social graph, as commonly used by other platforms. In other words, AI-trained algorithms promote content to those on the platform with similar interests rather than it being mostly spread via networks of followers. In theory, at least, the app allows more “nobodies” to become “somebodies”.
That said, TikTok increasingly suffers from some of the same pathologies as the US platforms. It has been accused of spreading disinformation harmful to democracy in Colombia, Kenya, France, the US and elsewhere, especially during the war in Ukraine. TikTok says it deploys AI tools and employs “thousands” of moderators around the world to enforce strict content guidelines, particularly on Ukraine.
The company has also exhibited flashes of an aggressive tech bro culture with one senior manager in London claiming he “didn’t believe” in maternity leave.
What about possible Chinese government influence? TikTok’s parent company ByteDance, a private company last valued at $180bn in December 2020, has ring fenced its international operations by creating a separate corporate structure based in Singapore. TikTok says all its international users’ data is held in the US and Singapore and — from 2023 — in Ireland, too. The company insists no personal data flows to the Chinese government, nor would it give Beijing access to such data even if requested.
In his well-researched book, TikTok Boom, Chris Stokel-Walker investigated these claims. He found no evidence for systematic leakage of personal data. But engineers in China did access some data to test algorithms or spot bot attacks, for example. “TikTok isn’t a social media sleeper cell waiting to be activated remotely on millions of Westerners’ phones,” he concluded. “The reality here is that there is no big con, but instead a little white lie.”
Even if that conclusion is correct, it might not help. Some US senators are still attacking TikTok as an instrument of Chinese soft power. There is a risk that the company might yet suffer the same fate as Huawei, the Chinese telecommunications equipment manufacturer blacklisted by the US. 
But if TikTok can avoid becoming a geopolitical punchbag, it might come to symbolise a moment in the evolution of cyber space: the Sinicisation of the global internet, as tech analyst Ben Thompson calls it. In this digital world, more Chinese-style centralised control of content through recommendation algorithms becomes a feature, not a bug. For several decades, the US has dominated the norms, values and practices of the consumer internet. The rise of TikTok points to a more contested future.

    </p>
    <ul>
      <li><a href="http://127.0.0.1:8000/cars/c11" class="link">Cars</a></li>
      <li><a href="http://127.0.0.1:8000/cars/c12" class="link">Cars</a></li>
      <li>
        <a href="http://127.0.0.1:8000/technology/t6" class="link"
          >Technology</a
        >
      </li>
      <li><a href="http://127.0.0.1:8000/cars/c10" class="link">Cars</a></li>
    </ul>
    <script src="" async defer></script>
  </body>
</html>
