<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Business</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="" />
  </head>
  <body>
    <h1 class="heading">An island that is cheering climate change?</h1>
    <p class="content">
      In 2019, the Wall Street Journal published an outlandish story. It said that US President Donald Trump was trying to buy another country. And the country in question was Greenland, the world’s largest island that lies between the Arctic and Atlantic oceans.
As bizarre as it sounds, we have to ask — Why was Trump interested in Greenland?
Well, Greenland is home to plenty of rare earth metals. It could even be home to the world’s largest or second largest nickel and cobalt deposits. The type that can power electric cars or wind turbines or a bunch of other stuff that’s good for the planet. So yeah, you can see why Trump wanted to get his hands on the country.
Was Trump joking about it? Maybe. But all we know is that the US was serious about forging ties with Greeland. In fact, in 2020, after President Joe Biden took over, the US finally set up a consulate in the island’s capital. The first since 1953.
Anything for the rare metals, huh?
But hold on now…80% of Greenland is covered in ice. So how on earth would someone even get these deposits?
Well, thanks to climate change, it’s all getting easier now!
That’s right. The island has been warming at double the pace of the rest of the world. And over the past few years, Greenland’s ice sheets have been melting at a rapid pace. And with the wretched ice out of the way, foreign miners are trickling into the country. These folks have set up camp in the island nation and are getting ready to drill out whatever they can get their hands on.
Just last week, CNN showed exclusive footage of foreign companies like KoBold Metals and Bluejay Mining that were getting their equipment in place to mine these metals.
Now this should annoy the Greenlanders, right? After all, climate change is affecting their land and rich, foreign folks are exploiting this instead of helping them. But no, some Greenlanders are happy about this development. Yup, these folks are actually cheering climate change and the presence of miners.
Now to truly understand what’s happening here, we need to delve into the fascinating and complicated history of Greenland. You see, contrary to popular perception, Greenland isn’t a free country at all. It’s in fact a part of Denmark!
Over the centuries, Greenland has changed hands from one invading party to the next. In the 13th century, it was the Norwegians who laid claim over the land. And it was then taken over by the Portuguese in the 15th century. Finally, the Danish came over and decided to take over Greenland in 1814 and even integrated it into the Danish constitution in 1953. So despite having Greenlandic self-government, the Danish government looks after Greenland’s citizenship, finances, foreign affairs, and defence.
Now the problem here is that Greenlanders have a very limited source of income. Remember, 80% of the country is covered in large sheets of ice! So people typically eke out a living through fishing activities and selling sheep meat. There’s really not much else.
And that means Greenland depends heavily on aid from Denmark. It receives around 3.9 billion Danish Kroner ($620 million) every year. And this aid is worth 60% of the country’s budget.
But people know that they can’t live off of these handouts from Denmark forever. They need financial freedom. So a bunch of Greenlanders believe that letting foreign companies come over and mine for metals can create jobs and tax revenues. Maybe Greenland can become self-sufficient and finally be free.
But there’s another camp of Greenlanders who believe that climate change is a bad thing. And people in this camp outweigh the rest by a ratio of 4:1. They detest this mining activity by foreign companies. And they hate it because of what they experienced in the past.
You see, a few years ago, Greenland Minerals, an Australian mining company, wanted to mine uranium in the small southern town of Narsaq. They promised jobs and an economic bounty. But the Greenlanders soon realized that it wouldn’t play out that way. They were worried that toxic wastes from mining would contaminate their land and water. That would affect the sheep and the fish and would adversely affect their own livelihoods.
So last year they voted a brand new party into power that supported the people’s anti-uranium cries. And Greenland Minerals had to hit the pause button on its operations. Folks in Greenland don’t want miners exploiting their lands anymore because they didn’t see any benefits.
Also, they believed that the Danish government would pocket a fair share of any mining royalties and leave the Greenlanders with peanuts anyway. So their land gets destroyed and they don’t see much economic benefit too. It’s a lose-lose.
So yeah, you can see that both sides have their own rationale for liking or hating climate change.
And while Greenland struggles to map out its future, what’s playing out is quite ironic. Remember KoBold Metals, one of the companies involved in mining metals in Greenland? Well, it’s backed by billionaires like Bill Gates and Michael Bloomberg — folks who’re also ardent supporters of the fight against climate change. But it’s now these billionaires who’ll probably profit from the adverse impact of climate change in Greenland too.
    </p>
    <ul>
      <li>
        <a href="http://127.0.0.1:8000/business/b22" class="link">Business</a>
      </li>
    </ul>
    <script src="" async defer></script>
  </body>
</html>
