<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Business</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="" />
  </head>
  <body>
    <h1 class="heading">The mystery traders of Sikkim</h1>
    <p class="content">
      In April 2022, a report in the BusinessLine made a startling claim. The tiny state of Sikkim had seen an explosion in commodity traders — People who dabble in contracts related to gold, silver, oil and other spices. Their numbers had grown exponentially — from a mere 674 traders in 2020, to a whopping 2,217 in 2022. Their influence also increased likewise. While in 2020, they only contributed 0% to the total turnover, they were adding a whopping 6% of the total trading volume at the multi-commodity exchange (MCX) by 2022.
It was baffling. But soon it became apparent something was amiss.
See, Sikkim isn’t like other states. Before joining the Indian Union in 1975, they laid out very specific demands to the government. The government accepted the proposal and they are now enshrined in the Indian constitution. And one such demand relates to the state’s tax laws. Right now, residents of Sikkim are exempt from paying taxes on their income with the precise clause from the IT Act stating — Any income, which accrues or arises to a Sikkimese individual from any source in the State of Sikkim or by way of dividend or interest on securities, shall not be included in the total income of such individual.
In some ways, Sikkim is a tax haven. And traders could exploit this feature.
For instance trading in India isn’t inexpensive. You have to pay your fair share of commissions, including taxes owed to the government. This tax may be imposed in the form of stamp duty. And on commodity contracts — the kind we talked about earlier, this could tally up to a fair sum if you are dabbling in large volumes.
But here’s the thing. States ultimately reserve all right to change the stamp duty as they see fit. And if you were a state imposing a relatively low stamp duty, you could technically attract traders hoping to make a small gain in the process. So in 2019, the government amended the Indian Stamp Act of 1899. They didn’t want people exploiting this loophole. And they changed it to ensure uniformity across states. But the Government of Sikkim wasn’t happy about this development considering their special status and all that.
And after some deliberation, the Central Government quickly decided to backtrack. They decided to exempt Sikkim and refunded duties collected until then. So Sikkim went back to being a tax haven for traders once again.
This in turn provided the perfect breeding ground for people looking to exploit the loophole. They used the names and addresses of residents of Sikkim as a proxy. And they began trading on these accounts to reduce their tax burden.
But soon enough, all this new activity aroused some suspicions. The Enforcement Directorate got in on the act and they went after some people. Including brokers who turned a blind eye. They likely knew that these people weren’t legitimate residents, but they still didn't do anything about it.
At first, MCX denied the allegations. But the minute the ED investigation took centre stage, trading from Sikkim-based accounts dried up. It fell from 6% to below 1% by April 2022. And the MCX is now under the scanner for seemingly missing the whole show.
In effect, this fiasco has sent shockwaves through the ecosystem.
Even the National Stock Exchange (primarily responsible for facilitating trades on equities) has asked brokers to conduct a thorough investigation before September 15th to weed out the bad apples. The exchange wants brokers to
Investigate the permanent addresses and the correspondence addresses of every client from Sikkim. And get a qualified Chartered Accountant to conduct this audit, 
Track the device location — to make sure they are in fact trading from Sikkim, 
Suspend the client account if something fishy turns up.
For a brief while, the mystery traders of Sikkim lived large. But now that the law has finally caught up with them, they have all but disappeared.
    </p>
    <ul>
      <li><a href="http://127.0.0.1:8000/cars/c14" class="link">Cars</a></li>
      <li><a href="http://127.0.0.1:8000/health/h0" class="link">Health</a></li>
    </ul>
    <script src="" async defer></script>
  </body>
</html>
