<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Business</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="" />
  </head>
  <body>
    <h1 class="heading">3 brands that built India: A Post Independence Day Special</h1>
    <p class="content">
      Godrej & Boyce<br>
You’ve probably heard of Godrej Industries. They make Cinthol (soap) and Good Knight (mosquito repellent). But that’s not what made them famous. Their claim to fame has been the sturdy, grey-coloured almirahs (cupboards) — the ubiquitous product that has been a staple of middle-income Indian households since the 1920s.
Back in the day, parents gave away an almirah as a wedding present! And the company even ran ads in the 1980s to further drive home this point. That a Godrej cupboard could build an everlasting bond between a husband and wife. They were an integral part of many Indian families, including mine.
But …that’s not Godrej’s only contribution. You see, before all the success with the almirahs, there was Godrej & Boyce. And you could argue that this company was inextricably linked with India’s journey as a newly independent nation.
Okay, in 1952, India was gearing up for its first-ever elections. The country needed 12.83 lakh ballot boxes. And they wanted them to be sturdy and tamper-proof.
Guess who stepped up to the plate?
Godrej & Boyce. They had already built an impressive resume manufacturing locks and safes. And they stood up to the lofty challenge. According to the then plant manager, the K R Thanewalla, workers slogged it it out from 7 am to 12 am every day, for nearly four months, trying to meet the target.
Needless to say, Godrej did it. And the ballot boxes were a resounding success. They were in use until the 1960s.<br>
Cipla<br>
Today, India is a pharmaceutical giant. But things weren’t always this way.
In fact, the origins of India’s market leadership can be traced back to the independence era. Around 1947, Western multinational corporations controlled India’s Pharmaceutical Industry. They held almost 99% of the patents, and domestic drug prices were among the highest in the world. And since Western multinational corporations had no competition, they could price their products any way they deemed fit. Unfortunately, it came at the expense of the Indian public.
But in the 1970s, the Government decided to switch things up. They tweaked India’s patent laws to protect only the manufacturing process used to make the drugs. That meant you could copy the end product as long as you found a way to reverse-engineer the process. Patent laws no longer protected the drugs fully and there was a boom in production.
But wait…who was instrumental in implementing this change.
Well, you could probably credit Dr Yusuf Hamied — The son of Dr Khwaja Abdul Hamied who founded the pharma company Cipla! After finishing his PhD from Cambridge University, Yusuf Hamied returned in the 1960s to join his dad’s pharmaceutical business.
But what he saw shocked him. India still upheld the British Patent Law of 1911. And drugs were unaffordable. So he set up the Indian Drug Manufacturers’ Association and lobbied the Indian government to change the rules. He succeeded! In 1972, the government introduced new reforms and thus began a glorious new chapter for Indian pharma.
But…the story isn’t over.
You see, Cipla’s contribution didn’t begin there. In 1939, three years after setting up Cipla, Mahatma Gandhi visited Dr K A Hamied with a rather peculiar request. At the time, British forces were fighting the second world war and they needed a few life-saving drugs to keep their troops alive. They promised to look favourably on India’s Independence demands if they got what they needed. So Gandhi wanted Cipla to intervene and they did. They manufactured Vitamin B12 and anti-malarial pills in bulk.<br>
AMUL<br>
You probably know AMUL and its invaluable contribution to the nation.
But long before Amul stormed into the scene, there was another dairy behemoth. It was called Polson Dairy and it had its roots in Gujarat too. In the 1940s, they were the go-to company for dairy products, especially butter. People loved it and they had a soft corner for the blond-haired girl featured in the Polson ads.
But, while the butter was a consumer favourite, it left a salty taste in the mouth of the dairy farmers. Why’s that? All thanks to the company’s monopolistic practices. You see, Polson enjoyed the support of the government and the dairy farmers in the region had to sell their milk at throwaway prices. The company pocketed most gains and the farmers weren’t being rewarded adequately.
Finally, in 1946, they had enough. They decided to revolt. They decided to band together and create a cooperative called the Kaira District Cooperative Milk Producers’ Union Limited. Two villages, 250 litres of milk. That’s it. That was the beginning. Instead of routing the milk through Polson, they began supplying to the folks in Mumbai directly.
And little did everyone know that this was just the beginning of what would become the world’s biggest dairy cooperative. A movement led by Dr. Verghese Kurien that would transform India from being a milk-deficient country to one of the world’s largest milk producers.
Oh, and the famous Amul Girl? It was created in 1966 by Sylvester DaCunha, an advertising executive. And let’s just say he may have taken some inspiration from the Polson girl.


    </p>
    <ul>
      <li>
        <a href="http://127.0.0.1:8000/movies/m25" class="link">Movies</a>
      </li>
    </ul>
    <script src="" async defer></script>
  </body>
</html>
