<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Business</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="" />
  </head>
  <body>
    <h1 class="heading">A 3-page Coal India Presentation!</h1>
    <p class="content">
      In an era where rambling 100-page presentations are the norm, this PSU simply decided to let its numbers do the talking. After all, its profits had soared by a whopping 180% in the past year and its share price has already rocketed by 50%. So, why bother distracting folks with other random comments, right?
But here’s the thing. Coal India isn’t what an average investor would consider a hot commodity. Between 2015 and 2021, it had in fact wiped out 70% of shareholder wealth. So the question is — what has changed over the past year for this coal-producing behemoth that supplies nearly 80% of India’s coal requirements?
The simple answer is e-auctions and demand.
Let’s talk about the e-auctions first. You see, the Indian coal industry is tightly regulated. This is because coal is an important commodity. It powers most of India. It’s used to produce steel and cement. It aids our lofty infrastructure ambitions. And it’s generally considered indispensable to our cause.
Now, since it’s so important, coal producers can’t really sell it at any price they desire. The government has a say on the matter and they work behind the scenes to set prices. This is why you rarely see electricity prices double overnight. Or steel prices go through the roof in a span of a few weeks. The government does its very best to keep prices in control.
So Coal India distributes nearly 80% of its coal production via long-standing fuel supply agreements (FSA) agreements. It’s a fixed contract with power producers that are considered strategically important to India. Essentially, they get it at a steep discount to global coal prices. And since Coal India can’t change these prices based on global trends or other exigencies, it rarely makes a ton of money in the process. In fact, according to a report by Axis Securities, FSA prices haven’t been hiked since 2017.
And even though Coal India has operational autonomy, the government owns about 66% of the company and they have a very big say on price-setting.
But then you throw in e-auctions!
This is the good stuff. If you need some extra coal you can place a bid on the online portal. And this price reflects global prices to a large extent since it’s dependent on demand and supply. For instance, this year, as the prices of the commodity soared globally, Coal India has reaped the benefits too. The coal producer has been able to command a 100% premium over the FSA price. And all that nicely feeds into the company’s bottom line. Compare this to the previous quarter, where it earned ₹2,434 per ton, it managed to snag an impressive ₹4,340 per ton between April and June.
So even if the volumes don’t soar, higher prices alone can pad up the bottom line. This is where the company can make its profits.
Coal India is also quite excited about this e-auction system and it’s even building its own platform (where it doesn’t rely on a third party) this year to sell its coal.
Then there’s the demand angle. Remember the story we wrote in September 2021 about India’s power crisis?
Well, that was precipitated by a shortfall of coal. You see, after the pandemic-induced lockdowns, power demand in the country surged. And no one was expecting it. Also importing coal was a tough ask because of sky-high prices. In fact, imports have collapsed rather dramatically. And that’s been a boon for Coal India. The company has stepped up and has ramped up production — a 30% higher output during April-June compared to the same period last year. And according to one official from the company, “The likeness of such whopping growth was never witnessed in any Q1 (first quarter) since CIL’s inception.”
Naturally, when the demand is high, whether it’s through price-controlled FSAs or free-flowing e-auctions, the company’s topline inches up.
But will this upbeat mood continue? What’s the street expecting?
Well, for the stock to really continue blazing upwards, there are a few things to keep in mind.
For starters, there are the European sanctions on Russia. It’s limiting coal supply across the world. Experts predict that the rally in coal prices could last for years. And that could yield a bumper result for Coal India.
Secondly, Coal India needs to hike its FSA prices by at least 10%. And that’s because it needs to offset an increase in wages.
And thirdly, if they can still end up snagging a 50% premium on the FSA for this year, they could still continue on this rally. At least that's according to JPMorgan.
But there’s a big risk — Coal India is after all a government-owned entity.
You see, if the authorities wake up one morning on the wrong side of the bed, they could very well ask Coal India to cap the premiums of coal being sold at e-auctions. They could ask the company to pump out more low-quality coal through the FSA segment to India’s power producers. And could even simply cap the FSA coal prices, not allow any upward revision, and ask Coal India to depress their revenues. All for the sake of the country.
And that simply means that Coal India will always have the sword of Damocles hanging over its head. It’s a risk you live with if you’re eyeing a PSU.
    </p>
    <ul>
      <li>
        <a href="http://127.0.0.1:8000/animals/a19" class="link">Animals</a>
      </li>
      <li>
        <a href="http://127.0.0.1:8000/business/b21" class="link">Business</a>
      </li>
    </ul>
    <script src="" async defer></script>
  </body>
</html>
