<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Health and Fitness</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="" />
  </head>
  <body>
    <h1 class="heading">What is Food Fortification and how does it impact your health?</h1>
    <p class="content">
      Fortification is the practice of deliberately increasing the content of one or more micronutrients (i.e., vitamins and minerals) in a food or condiment to improve the nutritional quality of the food supply and provide a public health benefit with minimal risk to health. As well as increasing the nutritional content of staple foods, the addition of micronutrients can help to restore the micronutrient content lost during processing.
      Fortification is an evidence-informed intervention that contributes to the prevention, reduction and control of micronutrient deficiencies. It can be used to correct a demonstrated micronutrient deficiency in the general population (mass or large-scale fortification) or in specific population groups (targeted fortification) such as children, pregnant women and the beneficiaries of social protection programmes. When the vitamins and minerals are not added to the foods during the processing but just before consumption at home or at schools or child‐care facilities, it is called point-of-use fortification.
      In addition to the micronutrient deficiencies, policies and implementation programmes for fortification need to consider an alignment with policies for the reduction of diet-related noncommunicable diseases. Such is the case of salt iodization, which builds on sodium consumption and, as result, needs to consider strategies for sodium intake reduction. 
    </p>
    <ul>
      <li>
        <a href="http://127.0.0.1:8000/technology/t5" class="link"
          >Technology</a
        >
      </li>
      <li><a href="http://127.0.0.1:8000/health/h1" class="link">Health</a></li>
    </ul>
    <script src="" async defer></script>
  </body>
</html>
