<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Health and Fitness</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="" />
  </head>
  <body>
    <h1 class="heading">High Intensity Interval Training</h1>
    <p class="content">
      “If that stubborn body fat isn’t going away, consider adding High-Intensity-Interval-Training or HIIT to your exercise routine,” says Professor Zeljko Pedisic of Victoria University, Melbourne.
HIIT increases fat burning more than aerobic exercise, finds a study published in the British Journal of Sports Medicine.
How was the study conducted?
Authors of the study pooled results from 18 controlled intervention trials on the effects of HIIT on the rate of fat burning during exercise.
The intervention trials included a total of 511 adult participants who were engaged in supervised HIIT, moderate-intensity aerobic exercise, or a non-exercising control group.
The duration of exercise interventions ranged from 2 to 14 weeks. In almost all studies, participants engaged in three HIIT sessions per week.
What are the key findings?
A few sessions of HIIT per week will turn your body into a fat burning “machine.” HIIT will make you start burning more fat not just during the HIIT sessions, but also during other types of physical activity, such as brisk walking, swimming, and playing sports.
Fat metabolism will improve after only four weeks of HIIT, and it will continue to improve with time.
    </p>
    <ul>
      <li>
        <a href="http://127.0.0.1:8000/business/b20" class="link">Business</a>
      </li>
      <li>
        <a href="http://127.0.0.1:8000/business/b21" class="link">Business</a>
      </li>
      <li>
        <a href="http://127.0.0.1:8000/technology/t5" class="link"
          >Technology</a
        >
      </li>
    </ul>
    <script src="" async defer></script>
  </body>
</html>
