<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Health and Fitness</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="" />
  </head>
  <body>
    <h1 class="heading">What is CrossFit and is it right for you?</h1>
    <p class="content">
      It’s almost inevitable that you've scrolled past a sweaty selfie of a friend, co-worker or high school classmate bragging about their WOD and professing their love for CrossFit.
CrossFit became a super popular workout a few years ago when box gyms began popping up not only across the country, but the world. CrossFit is practiced by members of over 13,000 affiliated gyms in 120 countries. In the U.S. alone, there are over 7,000 gyms offering the program. It’s estimated that there are roughly 4 million CrossFitters, and its members are so devoted to the competitive approach to fitness that the community has even been described as cult-like.
With all this publicity, you may have wondered if this program could work for you. Before you jump into the “box” (ahem, that’s CrossFit speak for gym), here’s what you need to know about the workout craze — and how to determine if it's right for you.
What is CrossFit
A form of high intensity interval training, CrossFit is a strength and conditioning workout that is made up of functional movement performed at a high intensity level.
These movements are actions that you perform in your day-to-day life, like squatting, pulling, pushing etc. Many workouts feature variations of squats, push-ups, and weight lifting that last for predetermined amounts of time to help build muscles. This varies from a traditional workout that may tell you how many reps to do over any period of time.
CrossFit Journal notes that the workouts are so effective because of their emphasis on the elements of load, distance and speed, which help participants develop high levels of power. The workout may utilize different equipment to accomplish this, including kettle bells, rowers and bikes, medicine balls, speed ropes, rings and plyo boxes.
CrossFit is similar to Orange Theory in that there is a standard "workout of the day" (WOD) that all members complete on the same day. The daily workout can be found on their website (which is always free), along with a guide to all the specialized lingo that is used. There is also a substitutions section on their FAQ page that suggests places to find level appropriate workouts. “CrossFit is universally scalable and modifiable for all fitness levels, so it can be tailored to meet your goals and current fitness level,” says Tracey Magee, owner and head coach of CrossFit Clan Performance Center.
    </p>
    <ul>
      <li>
        <a href="http://127.0.0.1:8000/technology/t8" class="link"
          >Technology</a
        >
      </li>
      <li><a href="http://127.0.0.1:8000/health/h1" class="link">Health</a></li>
    </ul>
    <script src="" async defer></script>
  </body>
</html>
