<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Health and fitness</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="" />
  </head>
  <body>
    <h1 class="heading">Connection Between Mental and Physical Health</h1>
    <p class="content">
      Mental and physical health is fundamentally linked. There are multiple associations between mental health and chronic physical conditions that significantly impact people’s quality of life, demands on health care and other publicly funded services, and generate consequences to society.  The World Health Organization (WHO) defines: health as a state of complete physical, mental and social well-being and not merely the absence of disease or infirmity.   The WHO states that “there is no health without mental health.”1
Nowhere is the relationship between mental and physical health more evident than in the area of chronic conditions. The associations between mental and physical health are:
Poor mental health is a risk factor for chronic physical conditions.
People with serious mental health conditions are at high risk of experiencing chronic physical conditions.
People with chronic physical conditions are at risk of developing poor mental health.
The social determinants of health impact both chronic physical conditions and mental health. Key aspects of prevention include increasing physical activity, access to nutritious foods, ensuring adequate income and fostering social inclusion and social support. This creates opportunities to enhance protective factors and reduce risk factors related to aspects of mental and physical health.
Understanding the links between mind and body is the first step in developing strategies to reduce the incidence of co-existing conditions and support those already living with mental illnesses and chronic physical conditions.


    </p>
    <ul>
      <li>
        <a href="http://127.0.0.1:8000/technology/t7" class="link"
          >Technology</a
        >
      </li>
    </ul>
    <script src="" async defer></script>
  </body>
</html>
