<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Technology</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="" />
  </head>
  <body>
    <h1 class="heading">Microsoft open-sources over 1,500 of its cute 3D emoji designs for anyone to use</h1>
    <p class="content">
      As part of its Windows 11 design push, Microsoft also published fun redesigns for all of its emoji characters that added more character and texture than the older Windows 8- and 10-era versions. Today, the company is going one step further, open-sourcing the vast majority of these new "Fluent" emoji designs and publishing them to Github for anyone to modify and use.
Each open-sourced emoji has three iterations: the fully 3D version, complete As part of its Windows 11 design push, Microsoft also published fun redesigns for all of its emoji characters that added more character and texture than the older Windows 8- and 10-era versions. Today, the company is going one step further, open-sourcing the vast majority of these new "Fluent" emoji designs and publishing them to Github for anyone to modify and use.
Each open-sourced emoji has three iterations: the fully 3D version, complete with texture and color gradients; a flat "color" version that retains the basic color but removes textures and gradients (these are the ones you'll see if you open Windows 11's emoji menu); and a monochromatic "high contrast" version. All emoji are being made available as .svg vector graphics files so that they can be resized and otherwise manipulated without any loss of quality.
There are just a couple of Microsoft's designs that it hasn't open-sourced, including the paperclip that looks like Clippy (the character is apparently copyrighted). A couple of other emoji were excluded because Microsoft's versions exclude the Windows logo. There is no generic version of the paperclip emoji listed among the emoji Microsoft has published.
Most apps let the operating system that they're running on handle emoji—you'll see Microsoft's emoji set when you're reading a message in Windows, Google's if you're reading it on Android, or Apple's if you're reading it on an iPhone or Mac. But individual apps and websites like Twitter or WhatsApp sometimes override your OS's emoji rendering in favor of using their own, partly to make sure that the characters look exactly the same, regardless of where they're being viewed.with texture and color gradients; a flat "color" version that retains the basic color but removes textures and gradients (these are the ones you'll see if you open Windows 11's emoji menu); and a monochromatic "high contrast" version. All emoji are being made available as .svg vector graphics files so that they can be resized and otherwise manipulated without any loss of quality.
There are just a couple of Microsoft's designs that it hasn't open-sourced, including the paperclip that looks like Clippy (the character is apparently copyrighted). A couple of other emoji were excluded because Microsoft's versions exclude the Windows logo. There is no generic version of the paperclip emoji listed among the emoji Microsoft has published.
Most apps let the operating system that they're running on handle emoji—you'll see Microsoft's emoji set when you're reading a message in Windows, Google's if you're reading it on Android, or Apple's if you're reading it on an iPhone or Mac. But individual apps and websites like Twitter or WhatsApp sometimes override your OS's emoji rendering in favor of using their own, partly to make sure that the characters look exactly the same, regardless of where they're being viewed.
If more apps and artists choose to use Microsoft's emoji designs, it could give the company a bit more control over what emoji look like on all platforms. The Unicode Consortium is the arbiter of the over 3,600 standard emoji characters, but bigger companies can influence the particulars for individual characters, as when Apple decided in 2016 to change the "pistol" emoji from a handgun to a bright green squirt gun. Other companies followed suit, and now a more toy-like rendering is the norm across most platforms.
    </p>
    <ul>
      <li>
        <a href="http://127.0.0.1:8000/technology/t6" class="link"
          >Technology</a
        >
      </li>
      <li>
        <a href="http://127.0.0.1:8000/business/b23" class="link">Business</a>
      </li>
      <li>
        <a href="http://127.0.0.1:8000/movies/m25" class="link">Movies</a>
      </li>
    </ul>
    <script src="" async defer></script>
  </body>
</html>
