<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="" />
  </head>
  <body>
    <h1 class="heading">Technology</h1>
    <p class="content">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut vero harum
      veniam excepturi facilis omnis commodi consequatur nostrum, amet suscipit!
      Rem velit vel animi. Perspiciatis aut ea laboriosam odit inventore!
    </p>
    <ul>
      <li>
        <a href="http://127.0.0.1:8000/technology/t6" class="link"
          >Technology</a
        >
      </li>
      <li>
        <a href="http://127.0.0.1:8000/business/b23" class="link">Business</a>
      </li>
      <li>
        <a href="http://127.0.0.1:8000/movies/m25" class="link">Movies</a>
      </li>
    </ul>
    <script src="" async defer></script>
  </body>
</html>
