<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Technology</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="" />
  </head>
  <body>
    <h1 class="heading">Samsung Galaxy Watch 5 adds battery life, screen strength, and temperature sensor</h1>
    <p class="content">
      Samsung announced the Galaxy Watch 5 and Watch 5 Pro on Wednesday, giving its round, semi-rotating Wear OS watches new looks, a tougher screen material, and—for reasons the company can only vaguely explain—an infrared temperature sensor.
Neither the $280 Watch 5, available in 40 or 44 mm sizes, nor the 44 mm $450 Watch 5 Pro has a physically rotating bezel, a distinguishing Galaxy Watch feature that was limited in the last generation to the higher-end Watch 4 "Classic" (which is still available). Instead, both models have capacitive touch bezels, so you can run your finger around the edge to scroll.
Both Galaxy Watch 5 models look just like the official 3D rendering leaks scooped up by Evan Blass at 91Mobiles. Their displays have been upgraded to sapphire crystal, which should help bolster the Watch 5's flat-front display. Samsung says this material is "60 percent harder" than prior watch displays.
Each Watch 5 model carries a notably larger battery than its Watch 4 equivalent. The Watch 5 contains 284 and 410 mAh batteries in its 40 and 44 mm sizes, respectively, while the Watch 5 Pro packs in 590 mAh. Samsung claims 40 hours of runtime for the Watch 5 and 80 hours for the Watch 5 Pro, or 20 hours of continuous GPS on the Pro.
Inside the Watch 5, there's not as much new. The Watch 5 models are powered by a 1.18 GHz version of the Exynos W920, the same SoC inside the Watch 4. Both have 1.5GB of RAM and 16GB of internal storage. There's built-in GPS, an LTE version, and 5 ATM water depth and IP68 dust and water resistance.
What's different about the Watch 5 is its watch-bottom BioActive Sensor. It measures optical heart rate, electrical heart signal, and bioelectrical impedance (body composition), allowing the watch to track workouts, sleep, stress, and other metrics. Those were mostly available on the Watch 4, but the more curved back of the Watch 5 allows for better contact, Samsung claims.
What is truly new is an infrared temperature sensor, a somewhat rare offering and one Samsung doesn't have a full pitch for yet.
In its launch video and press materials, Samsung says that the temperature sensor provides users "an in-depth understanding of their wellness" and offers "more accurate readings," even if outside temperature changes. For what specific purposes? This remains unstated. Samsung states the sensor "opens new possibilities for developers to expand their health and wellness options and for users to take advantage of all-new experiences." Doug Wegener, head of wearables and accessories, told The Verge that temperature data would "add another data point for sleep tracking, but that’s about it for now."
Samsung could be hinting at, but not legally be approved to state outright, that a temperature spike could help you spot a COVID-19 or other infection or monitor ovulation. Using a skin-based temperature for both is a tricky proposition. As a cardiologist told The Wall Street Journal's Joanna Stern (subscription required), half of the people infected by COVID-19 have no fever response, and those who do show a fever are infectious before it shows up. Wrist-based ovulation tracking has been studied, but it's far from resolved science.
The Watch 5 and Watch 5 Pro are available for preorder today and are due to ship on August 26. There's a Bluetooth-only "Golf Edition," with exclusive watch faces and a Smart Caddie app, that begins at $330. LTE costs $50 extra on each model.
    </p>
    <ul>
      <li>
        <a href="http://127.0.0.1:8000/technology/t7" class="link"
          >Technology</a
        >
      </li>
    </ul>
    <script src="" async defer></script>
  </body>
</html>
