<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Technology</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="" />
  </head>
  <body>
    <h1 class="heading">The Galaxy Z Fold 4 is official, brings Android 12L’s new taskbar</h1>
    <p class="content">
      It's time for a new round of Samsung foldables. The Galaxy Z Fold 4 and Galaxy Z Flip 4 are official. Both devices hit stores on August 26, and the prices haven't changed from last year: It's $1,799 for the Fold 4 and $999 for the Flip 4.
The Z Fold 4—the one that opens up like a tablet—is getting a few millimeters wider this year, and it has a 6.2-inch, 120 Hz, 2316×904 outer OLED display. The Z Fold 3's outer display had a skinny 25:9 aspect ratio, but the Fold 4's is at 23.1:9, getting closer to a normal 19:9 aspect ratio. The inner display is wider, too—it's a 7.6-inch, 2176×1812, 120 Hz OLED display. The device's thickness hasn't really changed—when open, the phone is 6.3 mm thick, and it's 15.8 mm thick when folded up, thanks to the hinge gap.
Other specs include a Snapdragon 8+ Gen 1, 12GB of RAM, 256GB of storage, and a 4400 mAh battery with 25 W charging. Samsung puts the dust and water ingress rating at "IPX8," meaning there's no dust resistance, but the device is submergible in fresh water for 30 minutes. There's a side fingerprint reader on the power button, and the phone supports Wi-Fi 6E.
Samsung's foldable display technology has not proven it's ready for prime time yet. You'll regularly find reports of the phones failing to last even a year due to the displays cracking or the layers separating. The inner display is still plastic, with flexible glass used as an inner layer, but Samsung claims an “optimized layer structure” will make it more durable.
The inner display has a fancy inner-screen camera, which sticks the selfie camera behind the display pixels. These cameras will always present a trade-off; taking pictures with more pixels in the way isn't the best for image quality, but having fewer pixels makes the display camera more noticeable. Samsung says it has gone for a denser pixel arrangement over top of the 4 MP camera this year. There are three rear cameras: the 50 MP main sensor from the Galaxy S22, a 12 MP ultrawide, and a 10 MP 3x telephoto.

    </p>
    <ul>
      <li>
        <a href="http://127.0.0.1:8000/animals/a15" class="link">Animals</a>
      </li>
      <li>
        <a href="http://127.0.0.1:8000/animals/a16" class="link">Animals</a>
      </li>
      <li>
        <a href="http://127.0.0.1:8000/animals/a17" class="link">Animals</a>
      </li>
    </ul>
    <script src="" async defer></script>
  </body>
</html>
