<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Technology</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="" />
  </head>
  <body>
    <h1 class="heading">New Google site begs Apple for mercy in messaging war</h1>
    <p class="content">
      Google has been unable to field a stable, competitive messaging platform for years and has thoroughly lost the messaging war to products with a long-term strategy. At least some divisions inside the company are waking up to how damaging this is to Google as a company, and now Google's latest strategy is to... beg its competition for mercy? Google—which has launched 13 different messaging apps since iMessage launched in 2011—now says, "It's time for Apple to fix texting."
Google launched a new website called "Get the Message"—a public pressure campaign with a call to "tweet at @Apple to #GetTheMessage and fix texting." Google hopes public pressure will get Apple to adopt RCS, a minor upgrade to the SMS standard that Apple uses for non-iMessage users. Google has been pushing this strategy since the beginning of the year, but coming from the company with the world's most dysfunctional messaging strategy, it just comes across as a company tired of reaping what it has been sowing.
Worldwide, iMessage isn't that popular (people tend to like Whatsapp), but in the US, iMessage is enough of a cultural phenomenon to have Billboard Top 100 songs written about how much it sucks to have a green (SMS) iMessage bubble. One of Apple's biggest competitors—especially for online services—is Google, and Google's inability to compete with iMessage has contributed a great deal to the current situation. Google apparently feels iMessage's dominance is damaging to its brand, so now it's asking Apple, nicely, to please stop beating it so badly.
Google's site says, "It's not about the color of the bubbles. It's the blurry videos, broken group chats, missing read receipts and typing indicators, no texting over Wi-Fi, and more. These problems exist because Apple refuses to adopt modern texting standards when people with iPhones and Android phones text each other."
A 14-year-old standard is “modern,” right?
Some of Google's claims on this website don't make much sense. Google says, "Apple turns texts between iPhones and Android phones into SMS and MMS, out-of-date technologies from the 90s and 00s. But Apple can adopt RCS—the modern industry standard—for these threads instead." RCS isn't a modern standard either—it's from 2008—and, despite a few middling updates since then, hasn't kept up with the times.
RCS has hung around so long and is still so poorly implemented because it was created by the carriers (through the GSMA) as a carrier-centric messaging standard. Carriers did this in the heyday of pay-per-message SMS, when carrier messaging was a real revenue stream. Now that carrier messaging is commoditized though, the carriers in control of RCS don't have an incentive to care about RCS. RCS is a zombie spec.
In Google's defense, SMS is from 1986, so RCS is more modern than that. This is probably more of a sign that you should never work with the GSMA if you don't have to, though. If Google and Apple ever teamed up to make a messaging duopoly, they would not need the carriers or their ancient messaging standard.
Google's proprietary fork of RCS
Being from 2008 means RCS lacks much of what you would want from a modern messaging standard. First of all, as a standard, RCS is carrier messaging, so messages are delivered to a single carrier phone number, rather than multiple devices via the Internet, like how you would expect a modern service to operate. As a standard, there's no encryption. Google tried to glom features onto the aging RCS spec, but if you consider those part of the RCS sales pitch, which Google does, now it's more like you selling "Google's proprietary fork of RCS." Google would really like it if Apple built its proprietary RCS fork into iMessage.
Google's version of RCS—the one promoted on the website with Google-exclusive features like optional encryption—is definitely proprietary, by the way. If this is supposed to be a standard, there's no way for a third-party to use Google's RCS APIs right now. Some messaging apps, like Beeper, have asked Google about integrating RCS and were told there's no public RCS API and no plans to build one. Google has an RCS API already, but only Samsung is allowed to use it because Samsung signed some kind of partnership deal.
If you want to implement RCS, you'll need to run the messages through some kind of service, and who provides that server? It will probably be Google. Google bought Jibe, the leading RCS server provider, in 2015. Today it has a whole sales pitch about how Google Jibe can "help carriers quickly scale RCS services, iterate in short cycles, and benefit from improvements immediately." So the pitch for Apple to adopt RCS isn't just this public-good nonsense about making texts with Android users better; it's also about running Apple's messages through Google servers. Google profits in both server fees and data acquisition.
    </p>
    <ul>
      <li>
        <a href="http://127.0.0.1:8000/animals/a18" class="link">Animals</a>
      </li>
      <li>
        <a href="http://127.0.0.1:8000/business/b24" class="link">Business</a>
      </li>
    </ul>
    <script src="" async defer></script>
  </body>
</html>
