<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Technology</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="" />
  </head>
  <body>
    <h1 class="heading">Parallels Desktop 18 for Mac adds ProMotion support</h1>
    <p class="content">
      Mac-based virtualization software Parallels launched a new version today. As with most updates to the suite, Parallels Desktop 18 adds support for new Apple hardware features, improves Windows virtualization, and expands compatibility.
The two headlining features of Parallels Desktop 18 are ProMotion support and several new features and optimizations for playing Windows games on Macs.
The first feature is pretty straightforward: Parallels now fully supports automatic refresh rate changes up to 120 Hz, matching the ProMotion feature in the M1-based 14-inch and 16-inch MacBook Pro.
As for Windows gaming, the update is mostly about game controllers. macOS has supported Microsoft's Xbox One and Sony's PlayStation 4 (called DualShock 4) controllers for a while, and Apple has more recently added support for the PlayStation 5's DualSense controller and the revised Xbox controller made for Series S and Series X consoles. The next major macOS release will add support for the Nintendo Switch Pro Controller and Joy-Cons.
With Parallels Desktop 18, you can now sync Xbox or PlayStation controllers in macOS on your host system, then jump right in and use them in your Windows virtual machine.
The Parallels team says that users can additionally expect smoother Windows UI and video playback, plus higher frame rates.
The standard edition of Parallels also improves x86 application compatibility when virtualizing Windows 11 on ARM, and it improves USB 3.0 support with a specific focus on devices like game streaming hardware from Elgato.
There are two more editions of Parallels Desktop beyond the Standard release: Pro and Business. Pro includes everything from Standard, plus the ability to configure network conditions for VMs, the ability to use network boot with Linux ARM VMs, and a few other small additions.
Business includes everything from Standard and Pro but adds some IT-specific functionality like deploying, provisioning, and transferring Windows 11 VMs on Mac machines across your org, plus signing into Parallels with a corporate account via SSO/SAML authentication.
Version 18 of Parallels is available now, with the usual pricing model of $99.99 for an annual subscription with continual updates or $129.99 for a perpetual license specifically for this version. You can add $20 to go from Standard to Pro and $30 more to go from Pro to Business. There's also a $69.99 perpetual license upgrade for Standard.
    </p>
    <ul>
      <li><a href="http://127.0.0.1:8000/cars/c14" class="link">Cars</a></li>
    </ul>
    <script src="" async defer></script>
  </body>
</html>
