<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Cars</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="" />
  </head>
  <body>
    <h1 class="heading">How Four-Wheel Drive Works</h1>
    <p class="content">
      There are almost as many different types of four-wheel-drive systems as there are four-wheel-drive vehicles. It seems that every manufacturer has several different schemes for providing power to all of the wheels. The language used by the different carmakers can sometimes be a little confusing, so before we get started explaining how they work, let's clear up some terminology:
Four-wheel drive - Usually, when carmakers say that a car has four-wheel drive, they are referring to a part-time system. For reasons we'll explore later in this article, these systems are meant only for use in low-traction conditions, such as off-road or on snow or ice.
All-wheel drive - These systems are sometimes called full-time four-wheel drive. All-wheel-drive systems are designed to function on all types of surfaces, both on- and off-road, and most of them cannot be switched off.
Part-time and full-time four-wheel-drive systems can be evaluated using the same criteria. The best system will send exactly the right amount of torque to each wheel, which is the maximum torque that won't cause that tire to slip.
In this article, we'll explain the fundamentals of four-wheel drive, starting with some background on traction, and look at the components that make up a four-wheel-drive system. Then we'll take a look at a couple of different systems, including the one found on the Hummer, manufactured for GM by AM General.
We need to know a little about torque, traction and wheel slip before we can understand the different four-wheel-drive systems found on cars.
    </p>
    <ul>
      <li>
        <a href="http://127.0.0.1:8000/movies/m28" class="link">Movies</a>
      </li>
    </ul>
    <script src="" async defer></script>
  </body>
</html>
