<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Cars</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="" />
  </head>
  <body>
    <h1 class="heading">What Does a Diff Lock Do?</h1>
    <p class="content">
      WHY DO CARS HAVE DIFFS?
When a car turns a corner, each of the wheels will need to rotate at slightly different speeds. This is, as the path travelled by the outside wheels is slightly longer than the path travelled by the inside wheels. The way the vehicle does this is by using the differential or “diff”.
WHY DO DIFF-LOCKS HELP?
The way a diff works when cornering, is by releasing one wheel and driving all of the power to the “wheel of least resistance”. In other words, the wheel that is easiest for the engine to rotate. This is a logical method on solid, even surfaces. But when it comes to driving off road, it can cause a few issues.
If you are driving through a particularly uneven or slippery track it is common for at least one wheel to slip or be raised in the air. Now this is where that “wheel of least resistance” works against us 4x4ers. As the wheel spins wildly in the air or on the slippery surface, the diff recognizes this as much easier to rotate, than the one gripping solidly to the ground. Therefore, the wheel with traction that would potentially drive us out, is left without power, while its opposite wheel uselessly spins.
This is where the mighty diff lock comes into play! By engaging the diff-lock, whether it be factory standard or fitted after-market, the diff is “locked” and begins to drive both wheels evenly. This allows not only the wheel without traction to continue to spin in the hope of gaining traction, but more importantly, begins to drive the well-grounded wheel.
WHY DON’T WE ALWAYS DRIVE WITH LOCKED DIFFS?
Remember the original function of a diff on road, for turning corners? Well this applies off-road as well. Although the diff-lock is great for when we lose traction, it can often fight against us when we need to corner for our next obstacle. So it is always important to only use your diff lock when necessary, and wherever possible, let the diff do its job.
DO I NEED A DIFF-LOCK TO GO 4X4ING?
For most off-roading situations, the diff-lock is not necessary. Sometimes, the answer to wheel spin, can be as simple as reversing back and trying a new path, putting Maxtrax or other objects under the wheel to improve traction, or simply breaking out the recovery gear or shovel and getting through the old fashioned way. However, with many modern vehicles offering diff-locks as standard or optional extras, having this magic button at your fingertips can be a simple way to see more of Australia’s beautiful outdoors, with a little less hassle.
If you need any more information, the team at Motorama are always happy to run you through your cars features. And, remember, if you're taking your car on a trip over the holidays - it's always a good idea to see our expert service team to make sure everything's running smoothly before you get on the road (or off road!)
    </p>
    <ul>
      <li>
        <a href="http://127.0.0.1:8000/movies/m29" class="link">Movies</a>
      </li>
    </ul>
    <script src="" async defer></script>
  </body>
</html>
