<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Animals</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="" />
  </head>
  <body>
    <h1 class="heading">Amazing facts about the Wolverine</h1>
    <p class="content">
      The Wolverine is a rare and poorly understood animal that lives in the remote Arctic and sub-Arctic regions of the world, where it preys on small and large mammals or scavenges on the kills of others. Its scientific name means “glutton” which is likely to be due to their rapacious appetite and single-mindedness.
Their name would suggest that they belong to the dog family, yet their appearance suggests they could be related to bears.  In fact, the Wolverine is the largest, and the most fearsome, member of the weasel family!
The Wolverine has a specially adapted thick, dense and oily fur coat which is highly hydrophobic (meaning that it resists water, like water off a duck’s back!), making it capable of resting in the barest of shelter in the harshest of conditions.
A male wolverine will range over an area of between 600-1000sq km. The female’s range, however, is considerably smaller at 50-350sq km. They have several nest sites scattered throughout their territories. The wolverine will vigorously defend its large territory against other wolverines that dare to encroach on its space. To warn others of its presence, a wolverine will discharge a strong-smelling fluid called musk from specially adapted anal glands under its tail.
As they are relatively slow, lumbering animals with short legs, wolverines do not chase or stalk prey.  Instead, they usually lie hidden in the trees or behind rocks and then pounce on their prey.
Love180
Share
Wolverines are great climbers and they are often seen resting in the evergreen trees of their forest homes.  They will use this advantage point to pounce on prey and can be seen falling from great heights.
Wolverines often scavenge on the prey of other animals like the grizzly bear. Wolverines will bravely approach a bear with its hackles raised and teeth bared, growling fiercely. Surprisingly, bears will often be the first to back off, leaving their meal to the wolverine. Anything they cannot eat in one sitting is either buried or stored for another day.
Female wolverines are known to have a delayed implantation which means the eggs float around the uterus for some time before attaching themselves.  This is to ensure that the young are born when food is plentiful, from January to April, regardless of when mating takes place. They will only produce one litter every two to three years.
There are two sub-species of wolverine, the European Wolverine, G. g. gulo and the North American Wolverine, G. g. ulscus.
Although not yet an endangered species, the wolverine’s numbers are declining, especially near human populations.  They are shot by huntsmen for sport and fur.
    </p>
    <ul>
      <li>
        <a href="http://127.0.0.1:8000/movies/m28" class="link">Movies</a>
      </li>
      <li>
        <a href="http://127.0.0.1:8000/movies/m25" class="link">Movies</a>
      </li>
    </ul>
    <script src="" async defer></script>
  </body>
</html>
