<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Animals</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="" />
  </head>
  <body>
    <h1 class="heading">Forget About the Road. Why Are Chickens So Bad at Flying?</h1>
    <p class="content">
      Chickens may have wings and fluffy feathers, but they're fairly dismal fliers, often going airborne for only a few yards before landing.
The reason for their poor flight isn't as rhetorical as why they crossed the road. Rather, chickens are terrible fliers because their wings are too small and their flight muscles are too large and heavy, making it hard for them to take off, said Michael Habib, an assistant professor of clinical cell and neurobiology at the University of Southern California and a research associate at the Dinosaur Institute at the Natural History Museum of Los Angeles County.
But chickens weren't always that way, he said. [Why Can't All Animals Be Domesticated?]
"We did that to them," Habib told Live Science. "We did it through the oldest kind of genetic engineering we've got, which is selective breeding."
The jungle fowl (Gallus gallus) — a wild bird native to northern India, southern China and Southeast Asia — is either the immediate ancestor or the closest living relative of the modern chicken (Gallus gallus domesticus), which was first domesticated between 6,000 and 8,000 years ago, Habib said.
Like other so-called "game birds," such as grouse, pheasants and quail, the jungle fowl can fly only short distances. This is because, despite their powerful muscles, they have little endurance. Game birds use their big flight muscles to take off in a near-vertical, rapid burst and fly for a short distance — called a burst flight — allowing them to escape predators.
But the modern chicken can barely achieve that, Habib said. That's mostly because people like to eat white meat, and so bred the chickens to have even larger flight muscles (or chicken breasts) than the jungle fowl.
"Big flight muscles are tasty," Habib said.
It might sound counterintuitive, but the chicken's large flight muscles impede its flight. In order to fly, birds need appropriate "wing loading" — a ratio of body mass to wing area. Birds need to have at least 1 square inch of wing per 0.6 ounces of body mass (1 square centimeter per 2.5 grams) to fly.
Given that the domesticated chicken has smaller wings and a heavier mass (because of its tasty flight muscles) than its wild brethren, it's no surprise that chickens can barely fly, Habib said. However, sometimes young chickens (which aren't as heavy as adults) can take wing, "but only for very short distances," Habib said.
That distance is so short that a large, fenced-in area is often enough to keep them from escaping into the wild.
"If they're close to a fence and the fence is tall enough, they can't take off steep enough to get over it," Habib said. "And if they're far from the fence, where they could have a lower [takeoff] angle, they don't have enough endurance to still be in the air when they get there."
"They're so close to being completely flightless that you don't necessarily have to put a roof over them to keep them in," Habib said.
    </p>
    <ul>
      <li>
        <a href="http://127.0.0.1:8000/movies/m27" class="link">Movies</a>
      </li>
    </ul>
    <script src="" async defer></script>
  </body>
</html>
