<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Animals</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="" />
  </head>
  <body>
    <h1 class="heading">Nature curiosity: Why do snakes shed their skin?</h1>
    <p class="content">
      Snakes are unique among wildlife for many reasons, and one of those reasons is their ability to shed their skin in its entirety. We don't see this from other animals, so why do snakes shed their skin whole?  
Put simply, snakes shed their skin because it doesn't fit anymore or because it's old or worn out. When snakes grow, their skin does not, so they outgrow it. When this happens, they shed their outer layer of skin.
Snakes can shed their skin as often as once a month, although it's usually only a handful of times a year at most, according to Animal Planet(Opens in a new window). The process of shedding skin is called ecdysis, and many factors can affect how and when snakes shed, including species, age, weather and temperature, nutritional health and the presence of bacteria or parasites. Younger snakes typically shed more than adults, because they are still growing. Snakes also often shed their skin before reproduction or after giving birth. 
While shedding their skin is part of a snake's growing process, it has another purpose as well. It helps remove parasites that could harm the snake, according to the Iowa Department of Natural Resources(Opens in a new window).  
Before a snake sheds its skin, it begins to look somewhat bluish in color and its eyes look opaque or clouded over, because the newly formed skin will cover its eyes, according to Washington State University's Ask Dr. Universe(Opens in a new window). They can't see well during this time, so they sometimes find a safe place to hide out until they begin shedding.
Snakes start the process of shedding their old skin by rubbing against a rock, tree or similar hard surface, Ask Dr. Universe reports. They typically rub a spot by their snout, so they can then slip out of their old skin by wriggling against rocks, plants and similar surfaces. Some snakes are able to shed their skin in water. 
After a snake sheds its skin, it is left behind, and sometimes people find the skins. The skin is obviously evidence of a snake that is or has been nearby, but the skins also show a lot of detail, including the scales and where the snake's eyes were. You can even sometimes determine the species of snake from its skin because of banding patterns and other visible markings.
Shedding skin is normal in the animal kingdom. In fact, all animals do it, according to the Iowa Department of Natural Resources. However, most animals don't shed their skin all at once like snakes do. They do it gradually. Take humans. We are always shedding skin cells — millions of them a day. But because skin cells are microscopic and it's a continual process, it isn't very noticeable.
</p>
    <ul>
      <li><a href="http://127.0.0.1:8000/health/h3" class="link">Health</a></li>
    </ul>
    <script src="" async defer></script>
  </body>
</html>
