<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Animals</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="" />
  </head>
  <body>
    <h1 class="heading">How do Chameleons change colour?</h1>
    <p class="content">
      Chameleons change colour by dispersing or concentrating pigment granules (melanophore cells) in the cells that contain them. In general, the animal appears lighter-coloured when pigment is concentrated and dark when pigment is dispersed throughout the cells. The chameleon's colour state at any given time is controlled by a complex interaction of hormones, temperature, and the animal’s autonomic nervous system. Colour change is determined by such environmental factors as light and temperature as well as by emotions—such as fright and the emotions associated with victory or defeat in battle with another chameleon.
Many chameleons can assume a green, yellow, cream, or dark brown coloration. Frequently, this occurs with lighter or darker spots on the background colour of the body. Some of the most striking colours appear in males during mating. Some achieve colour patterns that are so vivid and complex that it is hard to imagine that they serve any natural purpose. It is a popular misconception that the chameleon changes its colour to match that of the background.
    </p>
    <ul>
      <li>
        <a href="http://127.0.0.1:8000/technology/t9" class="link"
          >Technology</a
        >
      </li>
    </ul>
    <script src="" async defer></script>
  </body>
</html>